!!!
%html
  %head
    %title KarenPowerControl
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .main
      = render 'layouts/navbar'
      .content
        %p.notice.centered.no-margin= notice
        %p.alert.centered.no-margin= alert
        = yield
